@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme inline {
  /* 각 폰트 variable에 등록한 CSS 변수 이름 설정 */
  --font-spoqa: var(--spoqa-han-sans-neo);
  --font-pretendard: var(--pretendard);
  --font-noto-sans: var(--noto-sans-kr);
  --font-gothic-a1: var(--gothic-a1);
}
