.Game {
  display: flex;
  justify-content: center;
  gap: 3.75rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.Status {
  font-size: 1.25rem;
}

.Squares {
  display: flex;
  flex-wrap: wrap;
  width: 15.375rem;
  height: 15.375rem;
  border: 3px solid black;
}

.Square {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  padding: 0;
  background-color: white;
  font-size: 1.875rem;
  color: black;
  border: 0.1px solid black;

  &:disabled {
    cursor: not-allowed;
  }

  &:focus {
    z-index: 50;
    outline: 0;
    background-color: #f1f5f9;
  }

  &:focus-visible {
    outline: 3px solid black;
    outline-offset: -3px;
  }
}

.History {
  min-width: 6.25rem;
  margin-top: 3.625rem;
}

.HistoryList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
  padding-left: 0;
}

.HistoryListItem {
  list-style: decimal-leading-zero;
}

.HistoryButton {
  position: relative;
  border: 0;
  border-radius: 0.25rem;
  padding: 0.4em 0.8em;
  background-color: black;
  color: white;

  &:disabled {
    cursor: not-allowed;
    background-color: #e2e8f0;
    color: #64748b;
  }

  &:focus {
    z-index: 50;
    outline: 0;
  }

  &:focus-visible {
    outline: 2px solid black;
    outline-offset: 2px;
  }

  &:not([disabled]):active {
    transform: scale(0.96);
  }
}
